<a href="https://colab.research.google.com/github/ridafathimaa/sample/blob/main/Pattern.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Print patterns

In [ ]:
for i in range(1,6):
 output=""
 for j in range(1,i+1):
    output+="*"
 print(output)

In [ ]:
a=5
for i in range(a,0,-1):
 output=""
 for j in range(1,i+1):
  output+='*'
 print(output)

*****
****
***
**
*

In [ ]:
for i in range(6,0,-1):
 output=""
 for j in range(1,i+1):
   if i==6 or j==1 or i==j:
    output+="*"
   else:
    output+=" "
 print(output)

******
*   *
*  *
* *
**
*

In [ ]:
for i in range(6):
 print(" " * (6 - i -1) + "*" * (2 * i + 1))

     *
    ***
   *****
  *******
 *********
***********

In [ ]:
for i in range(6, 0, -1):
  print(" " * (6 - i) + "*" * (2 * i - 1))

***********
 *********
  *******
   *****
    ***
     *

In [ ]:
n=int(input("Enter the number of rows : "))
for i in range(n,0,-1):
 for j in range(i,0,-1):
  print("*",end=" ")
 for j in range(2*(n-i)):
  print(" ",end=" ")
 for j in range(i,0,-1):
  print("*",end=" ")
 print()
for i in range(1,n):
 for j in range(i+1):
  print("*",end=" ")
 for j in range(2*(n-i-1)):
  print(" ",end=" ")
 for j in range(i+1):
  print("*",end=" ")
 print()

In [ ]:
for i in range(6):
 print(" " * (6 - i ) + "*" + " " * (2 * i - 1) + "*" * (i != 0))

      *
     * *
    *   *
   *     *
  *       *
 *         *

In [ ]:
for i in range(6, 1, -1):
  print(" " * (6 - i) + "*" * (2 * i - 1))
for i in range(6):
 print(" " * (6 -i-1 ) + "*" * (2 * i + 1))

***********
 *********
  *******
   *****
    ***
     *
    ***
   *****
  *******
 *********
***********

In [ ]:
n=int(input("Enter the row of pascal pyramid : "))
for i in range(0, n+1):
    for j in range(0, n-i+1):
        print(' ',end='')
    C = 1
    for d in range(1, i+1):
     print(' ', C,sep='',end='')
     C = C * (i - d) // d
    print()

Enter the row of pascal pyramid : 5

      1
     1 1
    1 2 1
   1 3 3 1
  1 4 6 4 1

In [ ]:
for i in range(6,0,-1)
 print("*"